src/titanic_lab/__pycache__/__init__.cpython-313.pyc
src/titanic_lab/__pycache__/paths.cpython-313.pyc
data/.DS_Store
src/titanic_lab/__pycache__/__init__.cpython-313.pyc
/data/raw
/notebooks/.ipynb_checkpoints